@model RegisterModel

<div class="row">
    <div class="col-sm-4 offset-4">
        <form method="post">
            <div class="mb-3 text-center text-secondary">
                <i class="fa-solid fa-user-plus fa-6x"></i>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>

            <div class="form-floating mb-3">
                <input type="text" placeholder="username" class="form-control" asp-for="Username" />
                <label asp-for="Username"></label>
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="password" placeholder="password" class="form-control" asp-for="Password" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger small"></span>

                @if (ViewData["err-password-strength"] != null)
                {
                    switch (ViewData["err-password-strength"])
                    {
                        case 0:
                            <div class="border-bottom border-danger text-danger mt-2">@ViewData["err-password-strength-text"]</div>
                            break;
                        case 1:
                            <div class="border-bottom border-warning text-warning mt-2">@ViewData["err-password-strength-text"]</div>
                            break;
                        case 2:
                            <div class="border-bottom border-success text-success mt-2">@ViewData["err-password-strength-text"]</div>
                            break;
                        default:
                            break;
                    }
                }
            </div>

            <div class="form-floating mb-3">
                <input type="password" placeholder="re-password" class="form-control" asp-for="RePassword" />
                <label asp-for="RePassword"></label>
                <span asp-validation-for="RePassword" class="text-danger small"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk me-2"></i>Register
                </button>
            </div>

            @if (ViewData["done"] != null)
            {
                if ((bool)ViewData["done"] == true)
                {
                    <div class="alert alert-success mt-3">User is registered.</div>
                }
                else
                {
                    <div class="alert alert-danger mt-3">User is not registered.</div>
                }
            }
        </form>
    </div>
</div>